@page "/"

<div style="display: flex; justify-content: center; gap: 1rem;">
    <img src="players/malachicorley2.jpg" alt="M. Corley" style="width: 400px; border: 2px solid #000; border-radius: 2px;" />
    <img src="players/morganmoses.jpg" alt="M. Moses" style="width: 400px; border: 2px solid #000; border-radius: 2px;" />
</div>

<p style="font-size: 1rem;">
    "Look, I think you're going to be in a good spot there to get somebody that comes right in and makes an impact and starts," Jeremiah said. "They could kind of put the finishing piece on the offensive line with someone like Membou, who would be comfortable just plugging right in at right tackle. All of a sudden, now what was an endless journey to fix the offensive line, you could almost say is pretty complete with him." - Daniel Jeremiah from NFL Network.
    "If they want to stay best available and stay true to the board, I would take Tyler Warren, and I wouldn't hesitate to take Colston Loveland either," he said. "I think both those guys are worthy of being selected there."
</p>


@code {
}